#aboutImageDiv {
    position: absolute;
    top: 20%;
    left: 32%
}
#image {
    width: 80%;
}
#indexText {
    position: absolute;
    text-align: center;
    width: 60%;
    height: 40%;
    top: 90%;
    left: 20%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}
#movieApp {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 170%;
    left: 30%;

}
#sillyQuiz {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 90%;
    left:30%;

}
#crystalCollector {
    position: absolute;
    width: 40%;
    height: 40%;
    left: 30%;
    
}
#collectorText {
    position: absolute;
    top: 70%;
    text-align: center;
    width: 100%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}
#movieText {
    position: absolute;
    top: 220%;
    text-align: center;
    width: 100%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}
#quizText {
    position: absolute;
    top: 140%;
    text-align: center;
    width: 100%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}
#contactRefrences {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}