#aboutImageDiv {
    position: absolute;
    top: 20%;
    left: 32%
}
#image {
    width: 80%;
}
#indexText {
    position: absolute;
    text-align: center;
    width: 60%;
    height: 40%;
    top: 90%;
    left: 20%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}
#movieApp {
    position: absolute;
    width: 40%;
    top: 275%;
    left: 30%;

}
#sillyQuiz {
    position: absolute;
    width: 40%;
    top: 120%;
    left:30%;

}
#crystalCollector {
    position: absolute;
    top: 40%;
    width: 40%;
    left: 30%;
    
}
#collectorText {
    position: absolute;
    top: 85%;
    text-align: center;
    width: 90%;
    left: 5%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}
#movieText {
    position: absolute;
    top: 320%;
    text-align: center;
    width: 90%;
    left: 5%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}
#quizText {
    position: absolute;
    top: 165%;
    text-align: center;
    left: 5%;
    width: 90%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif
}
#contactRefrences {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}
#gifyGame {
    position: absolute;
    left: 30%;
    top: 200%;
    width: 40%;
}
#gifyText {
    position: absolute;
    top: 245%;
    width: 90%;
    left: 5%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;

}